# ==================================
#         Archivos de Node
# ==================================
# Ignora la carpeta node_modules en cualquier ubicación del proyecto
**/node_modules

# Ignora los archivos de log de npm y otros gestores
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# ==================================
#       Archivos de Entorno
# ==================================
# Ignora todos los archivos .env que contienen claves de API y secretos
.env
.env.local
.env.development.local
.env.test.local
.env.production.local


# ==================================
#         Carpetas de Build
# ==================================
# Ignora las carpetas de compilación del frontend y backend
dist
dist-ssr
build
.svelte-kit
.vercel


# ==================================
#     Archivos del Sistema y Editor
# ==================================
# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración de editores de código
.vscode/*
!.vscode/extensions.json
.idea


# ==================================
#          Archivos de Log
# ==================================
*.log
logs


# ==================================
#     Archivos de Lock (Opcional)
# ==================================
# A veces se ignoran, pero es buena práctica subirlos. 
# Los dejo comentados por si los quieres ignorar.
# package-lock.json
# yarn.lock
# pnpm-lock.yaml