#root {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--app-bg);
  color: var(--app-text);
}

.card {
  background-color: var(--app-surface);
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: var(--app-shadow-md);
}

button {
  font-family: inherit;
}
